@import "tailwindcss";

@font-face {
    font-family: 'Mona Sans';
    src:
            url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
            url('/fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@layer components {
  .badge {
    @apply transition duration-300;
  }
  .badge:hover {
    @apply -translate-y-1.5 shadow-xl shadow-black/50;
  }
  .badge:active {
    @apply -translate-y-0.5;
  }

  .stats {
    @apply shadow-xl shadow-black/50 transition duration-300 ease-in-out;
  }
  .stats:hover{
    @apply shadow-black/70 -translate-y-1.5;
  }  

  .link{
    @apply bg-neutral-500/20 w-full md:w-22.5 flex-1 md:flex-none aspect-square flex items-center justify-center rounded-2xl shadow-xl shadow-black/50 transition duration-300 ease-in-out;
  }
  .link:hover{
    @apply shadow-cyan-400/50 -translate-y-1.5;
  }
  .link:active{
    @apply active:shadow-cyan-400/50 active:-translate-y-0.5 active:bg-neutral-500/10;
  }

  .tile{
    @apply shadow-xl shadow-black/50 transition duration-300 ease-in-out relative aspect-square rounded-3xl bg-[#101010] overflow-hidden;
  }
  .tile:hover{
    @apply -translate-y-1.5;
  }
  
  .button{
    @apply bg-neutral-700 flex flex-row gap-2 justify-center items-center px-5 py-3 rounded-3xl text-xl md:text-2xl shadow-xl shadow-neutral-200/10 transition duration-300 ease-in-out;
  }
  .button:hover{
    @apply -translate-y-1.5;
  }
  .button:active{
    @apply -translate-y-0.5 bg-neutral-500/20;
  }

  .technology{
    @apply bg-neutral-500/20 w-full md:w-20 flex-1 md:flex-none aspect-square flex items-center justify-center rounded-2xl shadow-xl shadow-black/50 transition duration-300 ease-in-out cursor-not-allowed;
  }
  .technology:hover{
    @apply shadow-neutral-700/50 -translate-y-0.5;
  }
  .pixel{
    @apply min-w-30;
  }
}
@theme {
    --font-mona-sans: 'Mona Sans', sans-serif;
}
