@import "tailwindcss";

@font-face {
    font-family: 'Mona Sans';
    src:
            url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
            url('/fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@layer components {
  .badge {
    @apply transition duration-300;
  }
  .badge:hover {
    @apply -translate-y-1.5 shadow-xl shadow-black/50;
  }
  .badge:active {
    @apply -translate-y-0.5;
  }
}
@theme {
    --font-mona-sans: 'Mona Sans', sans-serif;

}
